.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    width: auto;
    padding: 3rem;
    width: 700px;
}

.title {
    background: linear-gradient(to right, #5ebd9e, #3d86e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: bold;
    width: auto;
    margin-top: 0;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container {
    padding: 24px;
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin: 24px 0 24px;
}

.addButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(to right, #5ebd9e, #3d86e2);
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 16px;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}


.icon {
    width: 18px;
    height: 18px;
}

.header_section {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
}

/* Mobile */
@media (max-width: 767px) {
    .container {
        width: 320px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
}