.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(100px, auto);
    gap: 25px;
    overflow: hidden;
    width: auto;
}

.title {
    margin-bottom: 0rem;
    margin-top: 0rem;
    background: linear-gradient(to right, #5ebd9e, #3d86e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
    text-align: justify;
}

/* Mobile */
@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
    }
    
    .title {
        font-size: 32px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        grid-template-columns: auto auto;
    }
}
