.container {
    margin: 150px auto 0 auto; /* 32px top margin, auto left/right, 0 bottom */
    width: 800px; /* or any width you prefer */
    text-align: center;
}

.title {
    background: linear-gradient(to right, #5ebd9e, #3d86e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
}

.subtitle {
    margin: 0px;
    color: #293339;
    font-size: 16px;
}

/* Mobile */
@media (max-width: 767px) {
   .container {
       width: 350px;
   }

   .title {
       font-size: 36px;
   }

   .subtitle {
       font-size: 14px;
   }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
}