.button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1rem 1.3rem;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.label {
    color: #666666;
    font-weight: bold;
    font-size: 16px;
}

/* Mobile */
@media (max-width: 767px) {
    .label {
        font-size: 14px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
}