.button {
    display: flex;
    gap: 8px;
    padding: 1rem 1.3rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border: 0px;
}

.light {
    color: #666666;
    background-color: #fff;
}

.dark {
    background: linear-gradient(to right, #5ebd9e, #3d86e2);
    color: #fff;
}


.icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.label {
    font-weight: bold;
    font-size: 16px;
}

/* Mobile */
@media (max-width: 767px) {
    .label {
        font-size: 14px;
    }

    
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
}